@model CityWeather

@{
    ViewBag.LinkToHome = true;
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            @{
                await Html.RenderPartialAsync("_CityWeatherCard", Model);
            }
       </div>
    </div>
</div>
