@model ICityWeather

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync("CityWeatherCard", new { cityWeather = Model, isLinkToHome = true });
       </div>
    </div>
</div>
