@model List<CityWeather>
@{
    var viewData = new ViewDataDictionary(ViewData)
    {
        { "UseDefaultLink", true},
    };
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                @{
                    await Html.RenderPartialAsync("_CityWeatherCard", item, viewData);
                }
            </div>
        }
    </div>
</div>
