@model List<ICityWeather>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                @await Component.InvokeAsync("CityWeatherCard", new { cityWeather = item, isLinkToHome = false });
            </div>
        }
    </div>
</div>
